/* Footer */

footer {
  hr {
    margin-top: 0;
    background-color: $grayDark;
    border-top: solid 1px $grayLight;
  }
  .greydark{
    h4 {
      margin-bottom: 20px;
    }

    .photo-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        display: block;
        margin-bottom: 12px;
        width: 110px;
        height: 70px;
        object-fit: cover;
      }
    }

    .about {
      &.v-align {
        padding-bottom: 10px;
      }
    }

    .map-container {
      &.card {
        height: 87%;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .credit-cards {
      i {
        font-size: 22px;
      }
    }

    .logo-footer {
      height: 25%;
    }
  }
}
